body
{
    margin: 0px;
    padding: 0px;
}

table, tr, td
{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

table
{
    width: 95%;
    margin: auto;
}

h1
{
    color: red;
    padding: 0px;
    margin: 0px;
}






